body {
  margin: 0;
}

.main {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.files {
  margin: auto;
  width: 90%;
  height: 90%;
}

.none .files {
  background: white;
}

.dragging .files {
  background: red;
}
