body {
  margin: 0;
}

.container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.files {
  margin: auto;
  width: 90%;
  height: 90%;
}

.picker {
  background: #09f;
}

.picker.dragging {
  background: #f90;
}

.server.zipping {
  background: #f09;
}

.server.starting {
  background: #ff9;
}

.server.serving {
  background: #0f9;
}
